/*  FONDO GENERAL */
body {
    font-family: Arial;
    background: linear-gradient(135deg, #667eea, #764ba2);
    margin: 0;
    padding: 0;
}

/*  CONTENEDOR PRINCIPAL */
.container {
    width: 85%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

/*  TÍTULO PRINCIPAL */
h1 {
    text-align: center;
    margin-bottom: 25px;
}

/*  FORMULARIO */
.formulario {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/*  GRUPOS DEL FORM */
.grupo {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

/*  ETIQUETAS EN NEGRITA */
.grupo label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* INPUTS Y SELECT */
input, select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/*  TARJETA DE FECHA */
.card-fecha {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    background: #f4f6ff;
    border-left: 5px solid #667eea;
    border-radius: 10px;
    font-weight: bold;
}

/* BOTÓN CALCULAR */
.btn-calcular {
    display: block;
    margin: 25px auto;
    padding: 12px 25px;
    background: linear-gradient(135deg, #ea82ff, #fd8fc4);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

/*  EFECTO HOVER BOTÓN */
.btn-calcular:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #ff6a4a, #fda763);
}

/* TABLA */
.tabla-producto {
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    border-top: 6px solid var(--color-producto);
}

/*  ENCABEZADO */
.tabla-producto th {
    background: var(--color-producto);
    color: white;
}

/*  CELDAS */
td, th {
    padding: 10px;
    text-align: center;
}

/*  FILAS ALTERNAS */
tr:nth-child(even) {
    background-color: #f2f2f2;
}


.tabla-producto tr:hover {
    background-color: #f1f1f1;
}

/*  MEJOR MODELO */
.mejor {
    background-color: #d4edda !important;
    font-weight: bold;
    border-left: 6px solid #28a745;
}

/*  GRÁFICA */
canvas {
    margin-top: 30px;
}